 /* Technical Expertise Start  */



    /* Skills */
    .skills-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
      gap: 20px;
    }

    .skill-card {
      background: white;
      padding: 25px;
      border-radius: 12px;
      text-align: center;
      transition: 0.3s;
    }

    .skill-card:hover {
      background: var(--primary-orange);
      color: white;
    }

    .skill-card i {
      font-size: 2.5rem;
      margin-bottom: 15px;
    }
