
    /* Services */
 /* What i Do  Section Start  */




    .services-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      gap: 25px;
    }

    .service-card {
      background: white;
      padding: 30px;
      border-radius: 15px;
      border-bottom: 4px solid transparent;
      transition: 0.4s;
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    }

    .service-card:hover {
      border-bottom: 4px solid var(--primary-orange);
      transform: translateY(-10px);
    }

    .service-card i {
      font-size: 2rem;
      color: var(--primary-orange);
      margin-bottom: 20px;
    }


 /* What i Do  Section END  */